body{
    text-align: center;
}
.container{
    align-items: center;
}
table{
    margin: auto;
}
button{
    border-radius: 20px;
    font-size: 40px;
    width: 102px;
    height: 58px;
    background-color: darkgray;
}
#output_screen{
    border-radius: 20px;
    width: 422px;
    height: 60px;
    font-size: 30px;
}
#invisible_buttom{
    background-color: white;
}
#ac_button{
    width: 65px;
}
.calculator{
    border-radius: 45px;
    border: 27px solid rgb(255, 123, 0);
    display: inline-block;
    background-color: rgb(255, 123, 0);
}